body {
  background-image: url('../img/beach1.JPG');
  background-size: 100% auto;
}

.col-style {
  padding-right: 15px;
  padding-left: 15px;
}

.section-heading {
  color: darkorange;
  font-weight: bold;
  text-shadow: 1px 1px black;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
  background-color: #2A4F6E;
}

.picture-right-small {
  float: right;
  text-align: right;
  max-width: 200px;
  border-radius: 5px 40px;
}

.explanation {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  /**width: 75%;**/
}

.folio-link {
  width: 90%;
  text-align: right;
  font-weight: 600;
  font-size: 20px;
}
