body {
  background-image: url('../img/beach1.jpg');
  background-size: 100% auto;
}

.box-model {
  margin: 12px 0px;
  padding: 15px;
  background-color: #277455;
  color: white;
  font-weight: lighter;
}

.picture-right-small {
  float: right;
  text-align: right;
  max-width: 200px;
  border-radius: 5px 40px;
}

.row-style {
  padding-left: 15px;
  padding-top:15px;
  padding-right: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.row-style > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px ) {
  .row {
      position: relative;
  }

.bottom-align-row {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.section-heading {
  color: darkorange;
  font-weight: bold;
  text-shadow: 1px 1px black;
  margin: 0 auto;
  text-align: center;
  background-color: #2A4F6E;
}

.explanation {
  font-style: italic;
  width: 75%;
}

.folio-link {
  width: 90%;
  text-align: right;
  font-weight: 600;
  font-size: 20px;
}
